@import url('https://fonts.cdnfonts.com/css/emotional-rescue-personal-use');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');
@import 'tailwindcss';

/* ===== Font Face ===== */
@font-face {
  font-family: 'RomanaBT';
  src: url('/fonts/ROMANAB.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-brand-light: #d9ed82;
  --color-brand-teal: #3d8e95;
  --color-brand-dark: #246e79;
  --color-brand-border: #1b485a;
  --color-brand-bg: #eef4f7;

  --font-sans: RomanaBT, serif;
  --font-emotional: 'Emotional Rescue Personal Use', sans-serif;
  --font-cabinet-grotesk: 'Cabinet Grotesk', sans-serif;

  --animate-marquee: marquee 20s linear infinite;
  --animate-float-scale: float-scale 5s ease-in-out infinite;
  --animate-float-scale-delayed: float-scale 7s ease-in-out infinite 1s;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-cabinet-grotesk);
  }

  button:hover,
  a:hover {
    cursor: pointer;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes float-scale {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(10px, -10px) scale(1.05);
  }
}
